<div ng-controller="registerController">
	<form ng-submit="createUser()">
		<h1>Become a client</h1>
		<p style="background-color: red;" ng-if="errors" ng-repeat="error in errors">{{error.message}}</p>
		<p style="background-color: red;" ng-if="pw_error" >{{pw_error}}</p>
		<label for="first_name">First name</label>
		<input type="text" ng-model="newUser.first_name" required>
		<br>
		<label for="last_name">Last name</label>
		<input type="text" ng-model="newUser.last_name" required>
		<br>
		<label for="email">Email</label>
		<input type="text" ng-model="newUser.email" required>
		<br>
		<label for="password">Choose a password</label>
		<input type="password" ng-model="newUser.password" required>
		<br>
		<label for="pw_confirm">Re-type your password</label>
		<input type="password" ng-model="newUser.pw_confirm" required>
		<br>
		<label for="phone">Phone number</label>
		<input type="text" ng-model="newUser.phone" required>
		<br>
		<label for="address">Address</label>
		<input type="text" placeholder="Street" ng-model="newUser.street1" required>
		<br>
		<input type="text" ng-model="newUser.street2">
		<br>
		<input type="city" placeholder="City" ng-model="newUser.city" required>
		<select ng-model="newUser.state" required>
			<option value="" selected disabled>State</option>
			<option value="DC">DC</option>
			<option value="MD">MD</option>
			<option value="VA">VA</option>
		</select>
		<input type="text" placeholder="Zipcode" ng-model="newUser.zipcode" required>
		<br>
		<label for="family_size">Family size:</label>
		<input type="text" ng-model="newUser.family_size" required>
		<br>
		<label for="allergies">Food allergies:</label>
		<textarea ng-model="newUser.allergies" rows="8" cols="80"></textarea>
		<br>
		<label for="food_preferences">Food likes/dislikes:</label>
		<textarea ng-model="newUser.food_preferences" rows="8" cols="80"></textarea>
		<br>
		<label for="dietary_restrictions">Dietary preferences:</label>
		<textarea ng-model="newUser.dietary_restrictions" rows="8" cols="80"></textarea>
		<br>
		<input type="submit" value="Register">
	</form>
</div>

<div ng-controller='loginController'>
	<h1>Already a client? Login</h1>
	<form ng-submit='loginUser()'>
		<p>Email: <input type="text" ng-model='user.email'> {{email_error}}</p>
		<p>Password: <input type="password" ng-model='user.password'> {{login_error}}</p>
		<input type="submit" value="Log In">
	</form>
</div>

<h1>{{console_message}}</h1>
<div ng-if="newUser">
	<h2>My new user!</h2>
	<p>{{newUser.first_name}} {{newUser.last_name}}</p>
</div>
</div>
